* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: Helvetica, Arial, sans-serif;
  color: var(--negro);
  /* opcional */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

.video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  object-fit: cover;
}

.header {
  width: 100%;
  min-height: 5.4375rem;
  border-bottom: 0..3125rem solid #000000;
  background-color: rgba(255, 255, 255, 20%);

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 2.75rem;

  position: fixed;
  top: 0;
  z-index: 1;
}

.header__img {
  width: 6.25rem;
}

.header__svg {
  width: 2rem;
  height: 2rem;
  display: none;
}

.header__ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: .95rem;
}

.header__li {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.header__li:hover {
  text-decoration: underline;
  font-weight: 800;
}

.home {
  min-height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.home__tittle {
  margin-top: 3.4375rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home__onep {
  font-family: 'Playfair Display', serif;
  font-size: 15.625rem;
  color: #ffffff;
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInRight 1.5s ease forwards;
}

.home__twop {
  font-family: 'Playfair Display', serif;
  font-size: 10rem;
  /* text-align: right; */
  line-height: 9rem;
  padding-right: 4.375rem;
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInLeft 1.5s ease forwards;
}

.home__threep {
  font-family: 'Playfair Display', serif;
  font-size: 10rem;
  /* text-align: right; */
  line-height: 9rem;
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInRight 1.5s ease forwards;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.work {
  width: 70%;
  min-height: 75vh;
  margin: auto;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.625rem;
}

.work__p {
  text-align: center;
  line-height: 3.125rem;
}

.work__span {
  font-size: 2.8125rem;
  color: #ffffff;
}

.work__span.experience {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: italic;
}

.work__span.job {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.work__span.student {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: italic;
}

.work__span.study {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.work__h2 {
  font-family: 'Playfair Display', serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 2.1875rem;
  text-align: center;
}

.work__underline {
  position: relative;
  display: inline-block;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: italic;
  text-decoration: none;
}

.work__underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.125rem;
  width: 100%;
  height: 0.125rem;
  background-color: #ffffff;
}

.design {
  width: 90%;
  min-height: 80vh;
  margin: auto;
  overflow: hidden;
}

.design__wrapper {
  width: 150%;

  display: flex;
  gap: .4rem;

  transition: all .5s ease;
  transform: translateX(0%);

}

.design__project {
  width: calc(100% / 3);
  min-height: 400px;
  padding: 1rem;
  object-fit: cover;
  border-radius: 1rem;
}


.design__project:hover .design__h3,
.design__project:hover .design__p {
  color: white;
}

.design__img {
  min-height: 60vh;
  border-radius: .625rem;
  object-fit: cover;
}

.design__img:hover{
  transform: scale(1.01);
    box-shadow: 0 0 10px white;
}

.design__h3 {
  margin: .625rem 0 0;
  font-family: 'Raleway', sans-serif;
  color: #000000;
  font-weight: 800;
  font-size: 1.6875rem;
  line-height: 2.25rem;
}


.design__p {
  margin: .425rem 0 0;
  font-family: 'Raleway', sans-serif;
  color: #000000;
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: .19rem;
  font-size: 1rem;
  line-height: 1.5rem;
}


.design__ul {
  margin: 2rem 0 0 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.design__btn {
  width: .9rem;
  height: .9rem;
  border: .1rem solid #ffffff;
  border-radius: 50%;
}

.design__btn.isActive {
  background-color: #ffffff;
}

.footer {
  min-height: 60vh;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 5.625rem;
}

.form {
  width: 70%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.form__p {
  margin-bottom: 1.25rem;
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  font-weight: 700;
  font-style: italic;
  color: #ffffff;
}

.form__form {
  width: 50%;
  margin: auto;
}

.input {
  width: 100%;
  margin-bottom: .625rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.3125rem;
}

.input__input {
  width: 100%;
  min-height: 1.5625rem;
  border-radius: .1875rem;
  border: .0625rem solid pink;
  background-color: rgba(255, 255, 255, 30%);
}

.input__input::placeholder {
  padding: .1875rem;
}

::placeholder{
  color: white;
}

.form__textarea {
  width: 100%;
  border-radius: .1875rem;
  margin: auto;
    border: .0625rem solid pink;
  background-color: rgba(255, 255, 255, 30%);
}

.form__textarea::placeholder {
  padding: .1875rem;
}

.form__button {
  border-radius: .1875rem;
  background: #ffffff;
  box-shadow: inset .4375rem .4375rem .875rem #d9d9d9,
    inset -.4375rem -.4375rem .875rem #ffffff;
  padding: .25rem;
  margin: .625rem auto;
}

.form__button:hover {
  background-color: #000000;
  color: #ffffff;
  box-shadow: none;
}

.rrss__ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.rrss__li {
  width: 2.5rem;
}

@media(max-width: 1500px) {
  .work__span {
    font-size: 2.1875rem;
  }

  .work__h2 {
    font-size: 1.875rem;
  }
}

@media (max-width: 1300px) {
  .design__img {
    min-height: 40vh;
  }
}

@media (max-width:1200px) {
  .home__onep {
    font-size: 12rem;
  }

  .home__twop {
    font-size: 10rem;
    line-height: 8rem;
  }

  .home__threep {
    font-size: 10rem;
    line-height: 8rem;
  }

  .form__form {
    width: 70%;
  }
}

@media (max-width: 1160px) {
  .work__p {
    line-height: 2rem;
  }

  .work__span {
    font-size: 1.5625rem;
  }

  .work__h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 1130px) {
  .home {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  .home__onep {
    text-align: center;
  }

  .home__twop {
    font-size: 9rem;
    line-height: 9rem;
    padding-right: 0;
    text-align: center;
  }

  .home__threep {
    font-size: 9rem;
    line-height: 9rem;
    text-align: center;
  }
}

@media (max-width: 1030px) {
  .home__twop {
    font-size: 7rem;
    line-height: 7rem;
  }

  .home__threep {
    font-size: 7rem;
    line-height: 7rem;
  }
}

@media (max-width: 1000px) {

  .design__img {
    min-height: 40vh;
  }

  .rrss__ul {
    gap: 1.0625rem;
  }

  .form__form {
    width: 80%;
  }
}

@media (max-width: 890px) {
  .home__onep {
    font-size: 9.5rem;
  }

  .home__twop {
    font-size: 6rem;
    line-height: 6rem;
  }

  .home__threep {
    font-size: 6rem;
    line-height: 6rem;
  }

  .work {
    min-height: 50vh;
    align-items: flex-start;
  }
}

@media (max-width: 850px) {
  .work {
    min-height: 30vh;
    gap: 0.625rem;
  }

  .work__p {
    line-height: 1.5rem;
  }

  .work__span {
    font-size: 1.25rem;
  }

  .design {
    min-height: 50vh;
  }

  .design__wrapper {
    width: 100%;
    gap: 1.125rem;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  .design__project {
    width: 90%;
    margin-bottom: 1.25rem;
  }

  .design__img {
    min-height: auto;
  }

  .footer {
    min-height: 60vh;
    gap: 1.625rem;
  }
}

@media (max-width: 730px) {
  .home__onep {
    font-size: 8rem;
  }

  .home__twop {
    font-size: 5rem;
    line-height: 5rem;
  }

  .home__threep {
    font-size: 5rem;
    line-height: 5rem;
  }
}

@media (max-width: 670px) {
  .work__h2 {
    font-size: 1rem;
  }

  .work__underline {
    text-underline-offset: 0.1125rem;
  }
}

@media (max-width: 600px) {
  .header__svg {
    display: block;
  }

  .header__nav {
    display: none;
  }

  .header__nav.isActive {
    display: block;
    width: 100%;
  }

  .header__ul {
    flex-flow: column;
  }

  .home__onep {
    font-size: 7rem;
  }

  .home__twop {
    font-size: 4rem;
    line-height: 4rem;
  }

  .home__threep {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (max-width: 580px) {
  .design {
    min-height: 35vh;
  }

  .design__img {
    min-height: 20vh;
  }

  .design__h3 {
    font-size: 1.087rem;
    line-height: 1rem;
  }

  .design__p {
    font-size: 0.8rem;
    line-height: 1rem;
  }

  .work__span {
    font-size: 1.05rem;
  }

  .form__p {
    font-size: 2rem;
  }
}

@media (max-width: 520px) {
  .home__onep {
    font-size: 6rem;
  }

  .home__twop {
    line-height: 4rem;
  }

  .home__threep {
    line-height: 4rem;
  }

  .design__project {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .home__onep {
    font-size: 4rem;
  }

  .home__twop {
    font-size: 3rem;
    line-height: 3rem;
  }

  .home__threep {
    font-size: 3rem;
    line-height: 3rem;
  }
}

@media (max-width: 400px) {
  .form__p {
    font-size: 1.8rem;
  }
}