* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: Helvetica, Arial, sans-serif;
  color: var(--negro);
  /* opcional */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

.video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  object-fit: cover;
}

.header {
  width: 100%;
  min-height: 5.4375rem;
  /* background-color: #e73332; */
  border-bottom: 0..3125rem solid black;
  backdrop-filter: brightness(1.14);

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 2.75rem;

  position: fixed;
  top: 0;
  z-index: 1;
}

.header__img {
  width: 6.25rem;
}

.header__svg {
  width: 2rem;
  height: 2rem;
  display: none;
}

.header__ul {
  /* background-color: lime; */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: .95rem;
}

.header__li {
  /* background-color: darkgreen; */
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.header__li:hover {
  text-decoration: underline;
  font-weight: 800;
}

.home {
  min-height: 100vh;
  /* background-color: #e73332; */
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.home__tittle {
  /* background-color: darkkhaki; */
  margin-top: 3.4375rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.home__onep {
  /* background-color: aquamarine; */
  font-family: 'Playfair Display', serif;
  font-size: 15.625rem;
  color: white;
  /* text-align: left; */
}

.home__twop {
  /* background-color: darkcyan; */
  font-family: 'Playfair Display', serif;
  font-size: 10rem;
  /* text-align: right; */
  line-height: 9rem;
  padding-right: 4.375rem;
}

.home__threep {
  /* background-color: fuchsia; */
  font-family: 'Playfair Display', serif;
  font-size: 10rem;
  /* text-align: right; */
  line-height: 9rem;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  margin-top: 6.4375rem;
}

.info__left {
  min-width: 40%;
  padding: 1.25rem;

}

.info__right {
  padding: 1.25rem;
  overflow-x: hidden;

  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-end;
}


.info__h1{
  font-family: 'Playfair Display', serif;
  font-size: 7rem;
}
.info__h2{
  margin-top: 1rem;
  font-family: 'Raleway', sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
}
.info__p{
  margin-top: 1rem;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;

}
.info__a {
  display: inline-block;
  margin: 2rem 0 0 ;
  color: #000000; 
  padding: .625rem 0 .625rem 0rem; 
  
  position: relative; 
  transition: all 0.3s, padding-left 0.3s; 
  animation: parpadeo 1.5s ease infinite; 
}


@keyframes parpadeo {
  0% {
    opacity: 1; 
  }
  50% {
    opacity: 0.5; 
  }
  100% {
    opacity: 1; 
  }
}

.info__a::before {
  content: "\2192"; /* Flecha hacia la derecha */
  position: absolute; 
  left: 0; 
  opacity: 0; 
  transition: opacity 0.3s, transform 0.3s; 
}

.info__a:hover {
  color: #ffffff;
  padding-left: 1.875rem; 
  border-bottom: .125rem solid #ffffff; 
}

.info__a:hover::before {
  opacity: 1; 
  transform: translateX(.625rem);
  
}

.carrousel {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow-x: auto; */
}

.carrousel__picture{
  width: 100%;
  height: auto;
  margin-right: .625rem;
  object-fit: cover;

}

.footer {
  min-height: 10vh;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 5.625rem;
}

.rrss__ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.rrss__li {
  width: 2.5rem;
}

@media(max-width: 1350px) {
  .info__h1{
    font-size: 6rem;
  }
}

@media(max-width: 1200px) {
  .info{
    flex-direction: column;
    margin: 6.4375rem 1rem 0;
  }
  .footer{
    margin: 0 0 1rem 0;
  }
}

@media (max-width: 600px) {
  .header__svg {
    display: block;
  }

  .header__nav {
    display: none;
  }

  .header__nav.isActive {
    display: block;
    width: 100%;
  }

  .header__ul {
    flex-flow: column;
  }
}

@media(max-width: 580px){
  .info__h1{
    font-size: 5rem;
  }
}

@media(max-width: 460px){
  .info__h1{
    font-size: 4rem;
  }
}
